    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="/img/flowers2-2.png" style="width: 50%; height: 50%" />
                    <h2 class="section-heading">BABY PRETZLAV</h2>
                    <h4>ETA September 12, 2020</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <img src="/img/baby.jpg" class="img-fluid" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <p><br>
                    Thanks for helping us build our family! 
                    We've put together 
                    <a href="http://babylist.com/baby-pretzlav">a registry with specific items here.</a></p>

                    <p>Our mailing address is 745 61st St, Oakland, CA 94609</p>
                    <br>
<p>In addition to the items in this registry, we would also find the following items useful:</p>
<h4>Clothing</h4>
<p>We were given a bunch of second hand baby clothes by friends and mostly need bigger sizes, 6M - 3T, although a few more small items would be nice.</p>
<p>Looking for onesies, pjs, footies, leggings, general outfits. These are our favorite baby clothing websites (gift cards welcome too!):</p>
<ul>
    <li><a href="https://www.lovedbaby.com/">L'ovedbaby</a> – also on amazon, colorful classics
    <li><a href="https://www.primary.com">primary</a> – high quality basics
    <li><a href="https://www.teacollection.com">tea collection</a> – local sf label
    <li><a href="https://www.bodenusa.com/en-us/baby-clothing#nav">Boden Mini</a> – so cute!
    <li><a href="https://www.burtsbeesbaby.com/">Burt's Bees Baby</a> – affordable & organic
</ul>

<h4>Baby Toys</h4>
<ul>
    <li>Simple, noiseless toys (blocks, stuffed animals, etc)
    <li>Board Books
    <li>Developmentally appropriate toys e.g. <a href="https://lovevery.com">loveevery</a>
</ul>

<h4>Gift Cards</h4>
<p>Caviar, Doordash, Sun Basket, Amazon, Target</p>
<br>
<h3>THANK YOU</h3>
<p>Please <a href="mailto:alex@pretzlav.com;kealie@pretzlav.com">get in touch</a> if you have any questions!</p>
                </div>
            </div>
        </div>
    </section>