<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">If you don't have our phone numbers, please send to <a href="mailto:adika.bintang.s@gmail.com">Bintang's</a> or 
                        <a href="mailto:melliawati20@gmail.com">Mela's</a> email addresses to reach us.</h3>
                    
                </div>
                <div class="col-lg-4 pic">
                    <img src="img/toast.jpg">
                </div>
            </div>
        </div>
    </section>