    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../img/flowers2-2.png" style="width: 50%; height: 50%" />
                    <h2 class="section-heading">The wedding and reception</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                    <h4>Adika Bintang Sulaeman</h4>
                    <p>and</p>
                    <h4>Melliawati</h4>
                    <br>
                    <p><b><i>The formal wedding</i></b></p>
                    <p>August 15, 2020 at 09.00 AM</p>
                    <p><b><i>Reception</i></b></p>
                    <p><i>To be announced</i></p>
                    <p>Mr. Adi Sucipto's house, Jl. Kedaung No 1 Larangan Indah, Tangerang</p>
                    <p><a href="https://goo.gl/maps/jFcMERLdLgxbjiJW6">Google Maps</a></p>
                    <p><i>We are really sorry we cannot invite all of you to the wedding because of the ongoing COVID-19 pandemic.
                         For those who are invited and will come, please bring your own protection gears: masks (mandatory), face shields and gloves (optional).
                         If you feel sick or not comfortable for coming, please stay at home.
                    </i></p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <a href="img/invitation.pdf"><img src="img/recipes-envelope.png" srcset="img/recipes-envelope-2x.png 2x" style="max-width: 100%"></img></a>
                </div>
            </div>
        </div>
    </section>