    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/fight.jpg" srcset="/img/fight.jpg 2x">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading text-center">THEIR STORY</h2>

                    <p>Bintang and Mela have been together for 12 years. It all started when they were in their junior high school, when Bintang used to sit just behind Mela in the class. 
                        They have gone through a lot of stages: school, university, work, inter-continent long distance relationship, you name it. This is a concrete instantiaton of love.
                    </p>

                    <p>InshAllah, they are moving to Dublin, Ireland, by the end of this year. 
                        Let's hope for the best, and wish them a happy life and wonderful adventure in the new stage of life in their new place.</p>
                </div>
            </div>
        </div>
    </section>